<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "co.phonegap.testapp"
        version   = "1.0.0">

    <name>phonegap-pageslider-handlebars-app</name>

    <description>phonegap-pageslider-handlebars-app</description>

    <author href="http://progmbh.com" email="jan.horvat@gmail.com">Jan Horvat</author>

    <access origin="*" />
	
    <preference name="fullscreen" value="true" />

</widget>
